@charset "UTF-8";
/* font */
@font-face {
  font-family: "NanumSquare";
  font-weight: 900;
  src: url(../font/NanumSquareEB.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 500;
  src: url(../font/NanumSquareB.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url(../font/NanumSquareR.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 100;
  src: url(../font/NanumSquareL.woff) format("woff");
}
/*****************공통*****************/
.mainPage {
  overflow: hidden;
}
.mainPage #fullpage {
  width: 100%;
}
.mainPage #fullpage .container {
  width: 100%;
  height: 68vh;
  margin-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.mainPage #fullpage .container .innerBox {
  max-width: 1260px;
  margin: 0 auto;
  height: 100%;
}
.mainPage #fullpage .container .innerBox .bannerBox {
  width: 100%;
}
.mainPage #fullpage .container .innerBox .bannerBox .banner {
  width: 100%;
  height: 170px;
  position: relative;
}
.mainPage #fullpage .container .innerBox .bannerBox .banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainPage #fullpage .container .innerBox .bannerBox .banner::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.mainPage #fullpage .container .innerBox .bannerBox .banner .textBox {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #eee;
  z-index: 1;
}
.mainPage #fullpage .container .innerBox .bannerBox .banner .textBox .t1 {
  font-size: 20px;
  padding-top: 50px;
  font-weight: 500;
}
.mainPage #fullpage .container .innerBox .bannerBox .banner .textBox .t2 {
  font-size: 35px;
  font-weight: 700;
}
.mainPage #fullpage .container .innerBox .contents {
  background: url(../image/logoBackground.png) center no-repeat;
  background-size: auto;
  height: 75%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.mainPage #fullpage .container .innerBox .contents .con {
  text-align: center;
  padding-top: 150px;
}
.mainPage #fullpage .container .innerBox .contents .con .tx1 {
  font-size: 35px;
}
.mainPage #fullpage .container .innerBox .contents .con .tx2 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .mainPage #fullpage .container .innerBox .contents {
    background-size: contain;
  }
}