@charset "UTF-8";
/* font */
@font-face {
  font-family: "NanumSquare";
  font-weight: 900;
  src: url(../font/NanumSquareEB.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 500;
  src: url(../font/NanumSquareB.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url(../font/NanumSquareR.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 100;
  src: url(../font/NanumSquareL.woff) format("woff");
}
/*****************공통*****************/
/*****************반응형*****************/
/*****************footer*****************/
.mainPage footer {
  max-height: 450px;
  width: 100%;
}
.mainPage footer .topFooter {
  background: #ebeef0;
}
.mainPage footer .topFooter .topFooterBox {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}
.mainPage footer .topFooter .topFooterBox #navFooter {
  display: inline-block;
  vertical-align: top;
  padding: 0 35px;
}
.mainPage footer .topFooter .topFooterBox #navFooter li {
  float: left;
}
.mainPage footer .topFooter .topFooterBox #navFooter li a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  color: #111;
  padding: 0 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.mainPage footer .topFooter .topFooterBox #navFooter li a:hover {
  color: #feca35;
}
.mainPage footer .topFooter .topFooterBox .snsBox .snsList {
  display: inline-block;
  width: 18%;
}
.mainPage footer .topFooter .topFooterBox .snsBox .snsList li {
  float: left;
  margin: 0px 8%;
}
.mainPage footer .topFooter .topFooterBox .snsBox .snsList li a {
  padding: 3px;
  line-height: 7px;
  display: block;
  background: #eee;
  border-radius: 50px;
  width: 24px;
}
.mainPage footer .topFooter .topFooterBox .snsBox .snsList li a img {
  width: 100%;
}
.mainPage footer .bottomFooter {
  background: #111;
  text-align: left;
  padding-top: 20px;
}
.mainPage footer .bottomFooter .bottomFooterBox {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mainPage footer .bottomFooter .bottomFooterBox address {
  color: #eee;
  margin-left: 40px;
}
.mainPage footer .bottomFooter .bottomFooterBox address p {
  font-size: 15px;
}
.mainPage footer .bottomFooter .bottomFooterBox address strong {
  font-size: 17px;
}

@media screen and (max-width: 1200px) {
  .mainPage {
    /*****************footer*****************/
  }
  .mainPage .footer .topFooter {
    display: none;
  }
  .mainPage .footer .bottomFooter {
    padding-top: 20px;
  }
  .mainPage .footer .bottomFooter .bottomFooterBox address strong {
    font-size: 17px;
  }
  .mainPage .footer .bottomFooter .bottomFooterBox address p {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .mainPage .footer .bottomFooter .bottomFooterBox address p {
    font-size: 14px;
  }
}
@media screen and (max-width: 370px) {
  .mainPage .footer .bottomFooter .bottomFooterBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .mainPage .footer .bottomFooter .bottomFooterBox address {
    margin-left: 20px;
  }
  .mainPage .footer .bottomFooter .bottomFooterBox address strong {
    font-size: 14px;
  }
  .mainPage .footer .bottomFooter .bottomFooterBox address p {
    font-size: 13px;
  }
}