@charset "UTF-8";
/* font */
@font-face {
  font-family: "NanumSquare";
  font-weight: 900;
  src: url(../font/NanumSquareEB.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 500;
  src: url(../font/NanumSquareB.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url(../font/NanumSquareR.woff) format("woff");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 100;
  src: url(../font/NanumSquareL.woff) format("woff");
}
/*****************공통*****************/
.mainPage {
  overflow: hidden;
  /*****************메인 배너*****************/
}
.mainPage #fullpage .section.mainWrap {
  background: url(../image/main_banner_Back.jpg);
  background-size: cover;
  position: relative;
}
.mainPage #fullpage .section.mainWrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}
.mainPage #fullpage .section.mainWrap .innerBox {
  width: 100%;
  margin: 0 auto;
}
.mainPage #fullpage .section.mainWrap .innerBox .bannerItem {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.mainPage #fullpage .section.mainWrap .innerBox .bannerItem .mainText {
  position: absolute;
  bottom: 50%;
  left: 23%;
  font-size: 4vw;
  width: 100%;
  background: -webkit-linear-gradient(#eee, #5555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.mainPage #fullpage .section.mainWrap .innerBox .bannerItem .textBox {
  position: absolute;
  bottom: 40%;
  left: -17.5%;
  text-align: right;
  width: 60%;
  color: #fff;
  -webkit-animation: bannerItem 3s ease-in-out;
          animation: bannerItem 3s ease-in-out;
}
.mainPage #fullpage .section.mainWrap .innerBox .bannerItem .textBox .mainTitle {
  font-size: 1.5vw;
}
.mainPage #fullpage .section.mainWrap .innerBox .bannerItem .textBox .subTitle {
  font-size: 1.3vw;
}
@-webkit-keyframes bannerItem {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3em);
            transform: translateY(3em);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes bannerItem {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3em);
            transform: translateY(3em);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.mainPage #fullpage .section.mainWrap .innerBox .bannerItem a {
  position: absolute;
  right: 30%;
  top: 50%;
  width: 16%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mainPage #fullpage .section.mainWrap .innerBox .bannerItem a img {
  width: 100%;
  -webkit-filter: drop-shadow(0 0 7px #aaa);
          filter: drop-shadow(0 0 7px #aaa);
  -webkit-transition: 10s;
  transition: 10s;
  -webkit-animation: watchImg 7s linear infinite;
          animation: watchImg 7s linear infinite;
}
@-webkit-keyframes watchImg {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes watchImg {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.mainPage #fullpage .section.mainWrap .pagerBox {
  /**pager**/
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
}
.mainPage #fullpage .section.mainWrap .pagerBox li {
  float: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 0.7vw;
  height: 0.7vw;
  border: 3px solid #fff;
  border-radius: 20px;
  text-indent: -9999px;
  margin: 15px;
}
.mainPage #fullpage .section.mainWrap .pagerBox .active {
  border: 3px solid #feca35;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.mainPage #fullpage .section.mainWrap .scroll {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-0.6em);
            transform: translateY(-0.6em);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(0.6em);
            transform: translateY(0.6em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-0.6em);
            transform: translateY(-0.6em);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(0.6em);
            transform: translateY(0.6em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.mainPage #fullpage .section.mainWrap .scroll .scroll-icon {
  display: block;
  position: relative;
  height: 2.5vw;
  width: 1vw;
  border: 5px solid #fff;
  border-radius: 1em;
}
.mainPage #fullpage .section.mainWrap .scroll .scroll-icon .wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: 0.3em;
  height: 1.5vw;
  width: 0.8vw;
  margin-left: -0.4vw;
  border-radius: 0.4em;
  overflow: hidden;
}
.mainPage #fullpage .section.mainWrap .scroll .scroll-icon .wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  -webkit-animation: scroll 2.75s ease-in-out infinite;
          animation: scroll 2.75s ease-in-out infinite;
}
.mainPage .sexWrap {
  /*****************젠더*****************/
  width: 100%;
}
.mainPage .sexWrap .sexBox {
  max-width: 1920px;
  margin: 0 8%;
  padding: 6% 0;
}
.mainPage .sexWrap .sexBox .textBox {
  width: 100%;
  width: 25%;
  text-align: left;
  overflow: hidden;
  margin-left: 2%;
  float: left;
}
.mainPage .sexWrap .sexBox .textBox .title {
  font-size: 35px;
  color: #111;
  margin-top: 20px;
  letter-spacing: 2px;
  font-weight: 500;
}
.mainPage .sexWrap .sexBox .textBox .t1 {
  font-size: 40px;
  color: #111;
  letter-spacing: -2px;
  font-weight: 900;
}
.mainPage .sexWrap .sexBox .textBox .t2 {
  margin-top: 35%;
  font-size: 18px;
  color: #949494;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  white-space: normal;
  line-height: 1.2;
  height: 3.6em;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.mainPage .sexWrap .sexBox .textBox .t3 {
  font-size: 18px;
  color: #949494;
  font-weight: 300;
}
.mainPage .sexWrap .sexBox .textBox .t3 strong {
  font-size: 20px;
  color: #111;
}
.mainPage .sexWrap .sexBox .gender {
  width: 100%;
}
.mainPage .sexWrap .sexBox .gender li {
  width: 20%;
  float: left;
  margin-left: 10%;
  text-align: center;
}
.mainPage .sexWrap .sexBox .gender li a {
  width: 120%;
  height: 540px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: -2;
}
.mainPage .sexWrap .sexBox .gender li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.mainPage .sexWrap .sexBox .gender li:hover a {
  z-index: 1;
}
.mainPage .sexWrap .sexBox .gender .men a {
  display: block;
  background: url(../image/content01Men.jpg) center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.mainPage .sexWrap .sexBox .gender .men a p {
  color: #eee;
}
.mainPage .sexWrap .sexBox .gender .men a .t1 {
  font-size: 16px;
  margin-top: 200px;
}
.mainPage .sexWrap .sexBox .gender .men a .t2 {
  font-size: 37px;
  font-weight: 700;
  letter-spacing: -2px;
}
.mainPage .sexWrap .sexBox .gender .men a span {
  opacity: 0;
  width: 46px;
  height: 46px;
  display: inline-block;
  margin-top: 15px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #111;
}
.mainPage .sexWrap .sexBox .gender .men:hover a {
  -webkit-box-shadow: 20px 20px 20px 1px gray;
          box-shadow: 20px 20px 20px 1px gray;
}
.mainPage .sexWrap .sexBox .gender .men:hover a span {
  opacity: 1;
}
.mainPage .sexWrap .sexBox .gender .women a {
  display: block;
  background: url(../image/content01Women.jpg) center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-top: 80px;
}
.mainPage .sexWrap .sexBox .gender .women a p {
  color: #eee;
}
.mainPage .sexWrap .sexBox .gender .women a .t1 {
  font-size: 16px;
  margin-top: 200px;
}
.mainPage .sexWrap .sexBox .gender .women a .t2 {
  font-size: 37px;
  font-weight: 700;
  letter-spacing: -2px;
}
.mainPage .sexWrap .sexBox .gender .women a span {
  opacity: 0;
  width: 46px;
  height: 46px;
  display: inline-block;
  margin-top: 15px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #111;
}
.mainPage .sexWrap .sexBox .gender .women:hover a {
  -webkit-box-shadow: 20px 20px 20px 1px gray;
          box-shadow: 20px 20px 20px 1px gray;
}
.mainPage .sexWrap .sexBox .gender .women:hover a span {
  opacity: 1;
}
.mainPage .serviceWrap {
  /*****************서비스*****************/
}
.mainPage .serviceWrap .serviceBox {
  margin-top: 115px;
  background: url(../image/content2.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 94%;
}
.mainPage .serviceWrap .serviceBox::after {
  margin-top: 90px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.mainPage .serviceWrap .serviceBox .serviceText {
  text-align: center;
  color: #eee;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 250px;
}
.mainPage .serviceWrap .serviceBox .serviceText .title {
  font-size: 35px;
}
.mainPage .serviceWrap .serviceBox .serviceText .subTitle {
  font-size: 20px;
}
.mainPage .serviceWrap .serviceBox .button {
  position: absolute;
  top: 80%;
  left: 48%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.mainPage .serviceWrap .serviceBox .button a {
  color: #eee;
  font-size: 18px;
}
.mainPage .serviceWrap .serviceBox .button a img {
  margin-top: 7px;
  -webkit-animation: horizontal 0.7s ease-in-out infinite;
          animation: horizontal 0.7s ease-in-out infinite;
}
@-webkit-keyframes horizontal {
  0% {
    margin-left: 9px;
  }
  50% {
    margin-left: 11px;
  }
  100% {
    margin-left: 9px;
  }
}
@keyframes horizontal {
  0% {
    margin-left: 9px;
  }
  50% {
    margin-left: 11px;
  }
  100% {
    margin-left: 9px;
  }
}
.mainPage .serviceWrap .serviceBox .serviceText {
  /***애니메이션***/
}
.mainPage .serviceWrap .serviceBox .serviceText .title {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.66s ease-in-out, -webkit-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: opacity 0.66s ease-in-out, -webkit-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.66s ease-in-out;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.66s ease-in-out, -webkit-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.mainPage .serviceWrap .serviceBox .serviceText .subTitle {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.66s ease-in-out, -webkit-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: opacity 0.66s ease-in-out, -webkit-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.66s ease-in-out;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.66s ease-in-out, -webkit-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.mainPage .serviceWrap .serviceBox .button {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.66s ease-in-out, -webkit-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: opacity 0.66s ease-in-out, -webkit-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.66s ease-in-out;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.66s ease-in-out, -webkit-transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.mainPage .serviceWrap.active .serviceText .title {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.mainPage .serviceWrap.active .serviceText .subTitle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.mainPage .serviceWrap.active .button {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.mainPage .collectionWrap {
  /*****************컬렉션*****************/
  position: relative;
  width: 100%;
}
.mainPage .collectionWrap::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 450px;
  background: #ebeef0;
}
.mainPage .collectionWrap .collectionBox {
  max-width: 1920px;
  margin: 0 auto;
}
.mainPage .collectionWrap .collectionBox .textBox {
  text-align: left;
  position: relative;
  padding-right: 150px;
  letter-spacing: -1px;
  margin-left: 40px;
}
.mainPage .collectionWrap .collectionBox .textBox .title {
  display: inline;
  vertical-align: middle;
  color: #111;
  font-weight: 900;
  font-size: 35px;
}
.mainPage .collectionWrap .collectionBox .textBox .subTitle {
  margin-left: 60px;
  display: inline-block;
  vertical-align: middle;
  color: #949494;
  font-size: 20px;
}
.mainPage .collectionWrap .collectionItem {
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.mainPage .collectionWrap .collectionItem .cItemBox {
  position: relative;
  width: 100%;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem {
  width: 20%;
  display: block;
  float: left;
  height: 100%;
  margin: 0 2.5%;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .cImg {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 116.21%;
  overflow: hidden;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .cImg a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .cImg a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .cImg a:hover::after {
  opacity: 0;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .cImg:hover a {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .c1 a {
  background: url(../image/content3_1.jpg) center/cover no-repeat;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .c2 a {
  background: url(../image/content3_2.jpg) center/cover no-repeat;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .c3 a {
  background: url(../image/content3_3.jpg) center/cover no-repeat;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .c4 a {
  background: url(../image/content3_4.jpg) center/cover no-repeat;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .cText {
  margin-top: 25px;
  text-align: center;
}
.mainPage .collectionWrap .collectionItem .cItemBox .cItem .cText a {
  font-size: 20px;
  line-height: 2;
  letter-spacing: -1px;
  font-weight: 500;
  color: #111;
}
.mainPage .collectionWrap .collectionBox .textBox {
  /***애니메이션***/
}
.mainPage .collectionWrap .collectionBox .textBox .title {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: opacity 1s ease-in-out, -webkit-transform 2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 2s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1s ease-in-out;
  transition: transform 2s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1s ease-in-out, -webkit-transform 2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.mainPage .collectionWrap .collectionBox .textBox .subTitle {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
  opacity: 0;
  -webkit-transition: opacity 2s ease-in-out, -webkit-transform 2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: opacity 2s ease-in-out, -webkit-transform 2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 2s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 2s ease-in-out;
  transition: transform 2s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 2s ease-in-out, -webkit-transform 2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.mainPage .collectionWrap .collectionItem {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 1.2s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: opacity 1.2s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1.2s ease-in-out;
  transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1.2s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.mainPage .collectionWrap.active .collectionBox .textBox .title {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.mainPage .collectionWrap.active .collectionBox .textBox .subTitle {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.mainPage .collectionWrap.active .collectionItem {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.mainPage .koreaWrap {
  /*****************한국*****************/
  position: relative;
}
.mainPage .koreaWrap .koreaBox {
  margin-top: 100px;
  background: url(../image/content4.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 93.5%;
  position: relative;
}
.mainPage .koreaWrap .koreaBox::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.mainPage .koreaWrap .koreaBox .textBox {
  text-align: center;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}
.mainPage .koreaWrap .koreaBox .textBox .title {
  margin-bottom: 100px;
  font-size: 35px;
  color: #eee;
}
.mainPage .koreaWrap .koreaBox .textBox .subTitle {
  font-size: 20px;
  color: #eee;
}
.mainPage .koreaWrap .koreaBox .button {
  position: absolute;
  top: 80%;
  left: 46%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.mainPage .koreaWrap .koreaBox .button a {
  color: #eee;
  font-size: 18px;
}
.mainPage .koreaWrap .koreaBox .button a img {
  margin-top: 7px;
  -webkit-animation: horizontal 0.7s ease-in-out infinite;
          animation: horizontal 0.7s ease-in-out infinite;
}
@keyframes horizontal {
  0% {
    margin-left: 9px;
  }
  50% {
    margin-left: 11px;
  }
  100% {
    margin-left: 9px;
  }
}
.mainPage .koreaWrap .koreaBox .textBox {
  /***애니메이션 ***/
}
.mainPage .koreaWrap .koreaBox .textBox .title {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: opacity 1s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1s ease-in-out;
  transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.mainPage .koreaWrap .koreaBox .textBox .subTitle {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: opacity 1s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1s ease-in-out;
  transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.mainPage .koreaWrap .koreaBox .button {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: opacity 1s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1s ease-in-out;
  transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 1s ease-in-out, -webkit-transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.mainPage .koreaWrap.active .textBox .title {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.mainPage .koreaWrap.active .textBox .subTitle {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.mainPage .koreaWrap.active .button {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}